* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  /* font-family: "Alata", sans-serif; */
  font-family: "Josefin Sans", sans-serif;
  background-color: aqua;
}

.container {
  width: 95%;
  max-width: 1444px;
  margin: 0 auto;
  background-color: rgb(42, 42, 42);
}

.image {
  position: relative;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  width: 100%;
  max-width: 100vw;
  max-height: 100vh;
}

header {
  top: 3em;
  width: 80%;

  position: absolute;
  z-index: 1;

  justify-content: space-between;
  display: flex;

  align-items: center;
  transition: 0.5s;
}

.navigation {
  position: relative;
  width: 100%;

  justify-content: space-between;
  display: flex;
  align-items: center;
  transition: 0.5s;
}

nav ul {
  position: relative;

  list-style-type: none;
  display: flex;
  float: right;
}

nav li {
  padding: 0 0.5vw;
  max-width: 7vw;
}

nav a {
  cursor: pointer;
  padding: 0 0.8em 0 0.8em;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-size: 1vw;
}

nav a:hover {
  color: rgb(96, 255, 5);
}

.Text {
  margin: 40vw 0 0 0;
  border: 2px white solid;
  right: inherit;
  position: absolute;
  color: white;
  padding: 1em;
}

.Text,
H1 {
  font-size: 5vw;
  font-style: normal;
  font-family: "Josefin Sans", sans-serif;
}

/* MaiN container */
.main-section {
  border: 3px yellow solid;
  padding: 10vw 0 0 0;

  justify-content: space-between;
}

.viewsection {
  position: relative;
  border: 3px red solid;
  display: flex;
  flex-direction: row;
  max-height: 90%;

  background-color: violet;
}
.viewinteraction img {
  border: 3px maroon solid;
  position: relative;
  background-repeat: no-repeat;

  max-width: 100%;
  min-width: 90%;
}

.viewcontent {
  right: 0;

  bottom: 0;
  padding: 6vw 1vw 0 4vw;
  margin: 1vw 20vw 0 0;
  position: absolute;

  background-color: white;
}

.viewpara {
  padding-bottom: 1.2rem;
  font-size: 4vw;
}
/* .viewcontent {
  margin: 10% 0 0 0;
  position: absolute;
  background-color: white;
  padding: 5vw;
  padding-bottom: 0;
  right: 0;
  width: auto;
}

.H1-paragraph {
  font-size: 5vw;
  font-size: 4vmin;
  padding-bottom: 1rem;
}
.paragraph {
  color: rgb(95, 93, 93);
  font-size: 1vw;
} */
