* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  /* font-family: "Alata", sans-serif; */
  font-family: "Josefin Sans", sans-serif;
  background-color: aqua;
}

.container {
  width: 95%;
  max-width: 1443px;
  margin: 0 auto;
  background-color: rgb(42, 42, 42);
}

.banner-img,
.image {
  position: relative;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  width: 100%;
  max-width: 100vw;
  max-height: 100vh;
}

header {
  top: 3em;

  position: fixed;
  z-index: 1;
  width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  transition: 0.5s;
  border: 3px rgb(255, 0, 0) solid;
}

.navigation {
  padding: 0 10em;
  position: relative;
  width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  transition: 0.5s;
  border: 3px black solid;
}

nav ul {
  position: relative;
  border: 3px yellow solid;
  list-style-type: none;
  display: flex;
}

nav li {
  position: relative;
  border: 3px pink solid;
  padding: 0 1.3vw;
}
